
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, #B2B2B2, #5E5E5E);
}

main{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3c3c3cab;
    width: 500px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #F20505;
    text-align: center;
    text-shadow: 1px 1px 2px #610404ac;
}

h2{
    color: #000983;
}

p{
    text-align: justify;
}