@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Andorid';
    src: url('/fontes/idroid.otf');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    background-color: #c5ebd6;
    margin: auto;
    font-family: var(--fonte-padrao);
}

p{
    margin: 15px 0px;
}

header{
    color: #fff;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: "Bebas Neue", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
}

header > h1{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.341);
}

header > p{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.341);
}

nav{
    background-color: #063d1e;
    padding: 8px;
    margin: auto;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav > a:hover{
    color: #1a5c37;
    background-color: #3ddc84;
    transition-duration: .5s;
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding-top: 10px;
    max-width: 800px;
    margin: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 2em;
}

main h1{
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main img.pequena{
    width: 300px;
    display: block;
    margin: auto;
}

article{
    margin: 10px;
    text-align: justify;
}

aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}